/* black background with yellow text, fixed size font */
body {
   font-family: "Helvetica", "Arial", sans-serif;
   font-size:   14pt;
   background:  black;
   color:       #fff100;
}

/* blue headings */
h1, h2, h3 {
   color:       #00ADEE;
}

/* links have a thin dashed underline and
 are the same colour as the main text.
 Hovered links become italicised */
a:link, a:visited {
   text-decoration: none;
   color:           #fff100;
   border-bottom:   1px dashed;       
}

a:hover {
   color:       #3dae48;
}

p {
   margin-bottom:  40px;
}

p.caption {
   font-size:      12pt;
   margin-bottom:  10px;
}

/* Navigation menu */
/* make vertical */
ul.nav {
   list-style-type:  none;
   margin-top:       55px;
   padding-left:     0px;
   margin-left:      0px;
   
}

/* only show underline on hover */
ul.nav a {
   display:  block;
   text-decoration: none;
   border: none;
}

ul.nav a:hover {
   font-style:      normal;
   text-decoration: underline;
}

dl {
   margin-bottom: 30px;
}

dt {
   color:      #00ADEE;
   margin-top: 20px;
}

dd {
   font-size: 12pt;
}

/* change behaviour for current page:
  link is red with no decoration
*/
li.here a {
   color:           #D2232B;
   text-decoration: none;
   border:          none;
}

li.here a:hover {
   color:           #D2232B;
   text-decoration: none;
   border:          none;
}

/* DIV ids */
#header {
   width:       50%;
   float:       left;
   border:      0px;
   padding:     0px;
   margin-top:  50px;
   margin-left: 247px;
}

/* remove link decoration in the header */
#header a {
   text-decoration:  none;
   border:           0px;
}

#content {
   float:       left;
   border:      0px;
   padding:     0px;
   margin-top:  60px;
   margin-left: 40px;
   width:       800px;
}

#left {
   float:       left;
   border:      0px;
   padding:     0px;
   margin-top:  10px;
   margin-left: 10px;
   width:       160px;
}

a.uodlogo {
   border:   0px;
}

a.bglink {
   border:   0px;
}

img.bglogo {
   margin-top: 10px;
   margin-left: 5px;
}

/* render image tumbnails */
.thumbs {
   position:     relative;
   float:        left;
   margin:       3px;
   padding:      3px;
   width:        100px;
   height:       100px;
   background-color:  #1d1d18;
  /* border:       1px dashed white;*/
}

.landthumb  {
   position:     absolute; /*allows for top property to move the element*/
   width:        100px;
   height:       67px;
   top:          50%; /*moves it 50% of #container's height down the page*/
   left:         50%;
   margin-top:   -33px; /*pulls it back up by half it's height*/
   margin-left:  -50px;
}

.portthumb  {
   position:     absolute; /*allows for top property to move the element*/
   width:        67px;
   height:       100px;
   top:          50%; /*moves it 50% of #container's height down the page*/
   left:         50%;
   margin-top:   -50px; /*pulls it back up by half it's height*/
   margin-left:  -33px;
}

/* specific text rendering for 'genome' and 
'scroller' words */
.genome {
   font-weight:    bold;
   letter-spacing: -1px;
   color:          #00ADEE;
}

.scroller {
   font-weight:    normal;
   font-style:     italic;
   letter-spacing: -1px;
   color:          #00ADEE;
}

.headgenome {
   font-weight:    bold;
   letter-spacing: -2px;
   color:          #00ADEE;
}

.headscroller {
   font-weight:    normal;
   font-style:     italic;
   letter-spacing: -2px;
   color:          #00ADEE;
}
